<div class="row">
  <h2>User</h2>
  <br>
</div>
<form action="" method="post">
  <div>
    <input type="text"placeholder="Enter firstname" class="form-control" required>
  </div>
  <div>
    <input type="text" placeholder="Enter lastname" class="form-control" required>
  </div>
  <div>
    <input type="text" placeholder="email" class="form-control" required>
  </div>
  <div>
    <input type="password" placeholder="Enter password" class="form-control" required>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
